/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #ff69b4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
}


.links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}


.links a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    justify-content : column;
}



.links a:hover {
    color: #ffe4ec;
}

/* Mobile */
@media (max-width: 768px) {
    .navbar {
        padding: 15px 20px;
        flex-direction: column;
        gap: 15px;
    }

    .links {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
